.pagination
    a.active(href="/mock-address/change-me") 1
    a(href="/mock-address/change-me") 2
    a(href="/mock-address/change-me") 3
    span &hellip;
    a(href="/mock-address/change-me") 15
    a.next(href="/mock-address/change-me") next
    p 1 – 12 из 100+ вариантов аренды