footer
    .footer-big
        .wrapper
            .footer-big__main
                .footer-big__logo
                    a.header__logo(href="index.html") 
                        img(src=require("../components/footerBig/colorLogo.svg"), alt="Main Logo")
                    p Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
                .footer-big__menus
                    .footer-big__list.footer-big__nav
                        h3.footer-big__headline навигация
                        ul
                            li
                                a(href="") О нас
                            li
                                a(href="") Новости
                            li
                                a(href="") Служба поддержки
                            li
                                a(href="") Услуги
                    .footer-big__list.footer-big__about
                        h3.footer-big__headline О нас
                        ul
                            li
                                a(href="") О сервисе
                            li
                                a(href="") Наша команда
                            li
                                a(href="") Вакансии
                            li
                                a(href="") Инвесторы
                    .footer-big__list.footer-big__support
                        h3.footer-big__headline Служба поддержки
                        ul
                            li
                                a(href="") Соглашения
                            li
                                a(href="") Сообщества
                            li
                                a(href="") Связь с нами
                .footer-big__subscribe
                    h3.footer-big__headline Подписка
                    p Получайте специальные предложения и новости сервиса
                    +emailSubscribe('email', 'Email')
            .footer-big__copyright
                p Copyright © 2018 Toxin отель. Все права зачищены.
                .footer-big__social 
                    a(href="").footer-big__twitter 
                    a(href="").footer-big__facebook 
                    a(href="").footer-big__instagram
