.btn.btnLong{
    width: 20rem;
    height: 2.75rem;
    display: inline-block;
    text-align: center;
    background: url(./arrow-forward.png) no-repeat right 13px center,
    linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    padding: 0.9375rem 0 0 0;
    &:hover,
    &:active{
      opacity: 0.5;
    }
}

@media screen and (max-width: 550px) {
    .btn.btnLong {
      width: 17rem;
    }
}