.formEmail{
    width: 260px;
    height: 44px;
    border: 0.0625rem solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 0.25rem;
    background: $white;
    margin: 25px 0 0 0;
      input[type="email"]{
        border: none;
        padding: 0rem  0 4px 15px;
        font-size: 14px;
        line-height: 24px;
        color: rgba(31, 32, 65, 0.75);
        outline: none; 
        vertical-align: middle;
        font-family: 'Montserrat';
      }
      
      input:focus::placeholder{
        color: rgba(31, 32, 65, 0);
      }
      input[type="submit"]{
        background: url(../img/arrowInput.svg) no-repeat;
        border: none;
        outline: none;
        margin: 0.8125rem 0 0 0.6875rem;
        width: 1.125rem;
        height: 1.125rem;
      }
      input[type="submit"]:hover{
        cursor:pointer;}
  }
  