.landingBody
    .landingBody__wrapper
        .landingBody__bg
            include ../../components/cardSearchRoom/cardSearchRoom.pug
            .landingBody__bottomText
                p Лучшие номера для вашей работы, отдыха и просто вдохновения