.landingBody
    .landingBody__wrapper
        .landingBody__bg
            include ../../components/cardSearchRoom/card-search-room.pug
        p.landingBody__bottomText Лучшие номера для вашей работы, отдыха и просто вдохновения