.landingBody{
    width: 100%;
    background: $white;
}
.landingBody__bg{
width: 90rem;
height: 51.875rem;
background: url(../img/landingImg.jpg) no-repeat 0.125rem -4.375rem;
background-size: cover; 
margin: 0 auto;
// position: relative;
.card{
    margin: 4.8% 0 0 9.6%;
}
.landingBody__bottomText{
    position: relative;
}
.landingBody__bottomText p{
    text-align: right;
    font-family: 'Montserrat';
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: rgba(31, 32, 65, 0.75);
    position: absolute;
    width: 18.5625rem;
    right: 8.3125rem;
    bottom: -22.75rem;
}

}
.landingBody__wrapper{
width: 100%;
display: flex;
// margin: auto 16%;
justify-content: space-between;
flex-wrap: wrap;
}
@media screen and (max-width: 1440px) {

    .landingBody__bg{
        .landingBody__bottomText p{
        bottom: -16.75rem;
        }
    }
}
