include ../components/btnBorder/btnBorder.pug
include ../components/btnFill/btnFill.pug
include ../components/btnLong/btnLong.pug
include ../components/textField/textField.pug
include ../components/radioButton/radioButton.pug
include ../components/maskedField/maskedField.pug
include ../components/emailField/emailField.pug
include ../components/passwordField/passwordField.pug
include ../components/toggleButton/toggleButton.pug
include ../components/emailSubscribe/emailSubscribe.pug

doctype html
html
    head
        script(src="https://code.jquery.com/jquery-1.12.4.min.js")
        script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
        meta(charset = 'utf-8')
        meta(name='viewport', content="initial-scale=1.0, width=device-width")
        title Toxin Hotel
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        include favicon.pug
    body
        main
            include ../components/headerButtons/headerButtonsRus.pug
            include ../components/regPageBody/regPageBody.pug
            include ../components/footerBig/footerBigRus.pug

                            
