body,
ul,
a{
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat';
  font-size: 0.875rem;
  color: rgba(31, 32, 65, 0.5);
  list-style: none;
  text-decoration: none;
  outline: none;
}
p{
  margin: 0;
}
h1{
  font-size: 24px;
  line-height: 30px;
}
h2{
  font-size: 19px;
  line-height: 24px;
  font-family: 'MontserratBold';
  color: #1F2041;
}
h3{
  font-size: 12px;
  line-height: 15px;
  font-family: 'MontserratBold';
  font-weight: bold;
  text-transform: uppercase;
  color: #1F2041;
  opacity: 0.75;
}
main{
  margin: 0 auto;
  width:100%;
  display: flex;
  background: #fff;
  flex-wrap: wrap;
}

.flex{
  display: flex;
  margin: 20px 0 0 0;
  form{
    margin: 10px;
  }
}

