form(action="#").checkboxes
   
    ul.CheckList
        li
            input(type="checkbox" id="bfirst" name="first" hidden)
            label(for="bfirst") Можно курить
        li
            input(type="checkbox" id="bsecond" name="first" checked hidden)
            label(for="bsecond") Можно с питомцами
        li
            input(type="checkbox" id="bthird" name="first" checked hidden)
            label(for="bthird") Можно пригласить гостей (до 10 человек)