.cardSmall{
    width: 16.875rem;
    // padding: 2.5rem 1.875rem 1.875rem 1.875rem;
    background: #fff;
    // border: 0.0625rem solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0rem 0.625rem 1.25rem rgba(31, 32, 65, 0.05);
    border-radius: 0.25rem;
    z-index: 1;  
  }
  .roomSlider{
      padding: 0;
      margin: 1.3125rem 0 0 0;
      a{
        display: block;
      }
      .roomSlider__priceHeadline{
        margin: 1.25rem 0 0 1.25rem;
        justify-content: space-between;
      }
      .roomSlider__price{
        margin: 0.1875rem 0.625rem 0rem 0rem;
      }
      .roomSlider__number{
        font-family: 'MontserratBold';
        font-size: 1.1875rem;
        line-height: 1.5rem;
        color: #1F2041;
        letter-spacing: -0.0625rem;
      }
      .roomSlider__num{
        font-size: 0.875rem;
        line-height: 1.0625rem;
        margin: 0 0.1875rem 0 0;
      }
      .roomSlider__lux{
        font-family: 'MontserratBold';
        font-size: 0.75rem;
        line-height: 0.9375rem;
        text-transform: uppercase;
        color: #BC9CFF;
      }
    .roomSlider__rating{
      margin: 1.125rem 0 0.9375rem 0;
      justify-content: space-between;
    }  
    .rating{
      margin: 0rem 0 0 1.25rem;
    }
    .roomSlider__reviewsAmount{
      font-family: 'Montserrat';
      font-size: 0.875rem;
      line-height: 1.125rem;
      text-align: right;
      color: rgba(31, 32, 65, 0.5);
      margin: 0.3125rem auto;
      b{
        font-family: 'MontserratBold';
      }
    }
  }