.roomFeature{
    width: 18.1875rem;
    margin: 1.5rem 0 0 0.3125rem;
    padding: 0 0 1.125rem 0rem;
    border-bottom: 0.0625rem solid rgba(31, 32, 65, 0.1);
    img{
      position: absolute;
    }
    p{
      padding: 0 0 0.3125rem 3.375rem;
      margin: 0;
      color: rgba(31, 32, 65, 0.75);
    }
    .roomFeature__headline{
      font-family: 'MontserratBold';
      
    }
    
  }
.roomFeature:last-child{
  border:none;
}