.registerAccount{
  
    h1{
      letter-spacing: -0.0375rem;
    }
    input{
      margin: 0 0 0.625rem 0;
    }
    input[type="password"]{
      margin: 0 0 0.5rem 0;
    }
    .registerAccount__birthday{
      margin: 1.5625rem 0 0.3125rem 0;
    }
    .registerAccount__enterData{
      margin: 0.625rem 0 0.3125rem 0;
    }
    .flex{
      margin: 0rem 0 0.1875rem 0;
      p{
      margin: 0 0 1.25rem 0.625rem;
      line-height: 1.375rem;
      }
    }
    .btnLong{
      margin: 0 0 1.875rem 0;
    }
    
  }
  