include components/btnBorder/btnBorder.pug
include components/btnFill/btnFill.pug
include components/btnLong/btnLong.pug
include components/textField/textField.pug
include components/radioButton/radioButton.pug
include components/maskedField/maskedField.pug
include components/emailField/emailField.pug
include components/passwordField/passwordField.pug
include components/toggleButton/toggleButton.pug
include components/cardSliderRoom/cardSliderRoom.pug
include components/rateButton/rateButton.pug
include components/emailSubscribe/emailSubscribe.pug
include components/rangeSlider/rangeSlider.pug
include components/likeButton/likeButton.pug
include components/roomFeature/roomFeature.pug
include components/review/review.pug

doctype html
html
    head
        script(src="https://code.jquery.com/jquery-1.12.4.min.js")
        script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
        script(src="https://d3js.org/d3.v5.min.js")
        meta(charset = 'utf-8')
        meta(name='viewport', content="initial-scale=1.0, width=device-width")
        title Toxin Hotel
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    body
        main
            include components/headerButtons/headerButtonsRus.pug
            .roomDetailBody
                .roomDetailBody__wrapper
                    .roomDetailBody__images
                        .roomDetailBody__bigImg
                        .roomDetailBody__smallImg
                            .roomDetailBody__topImg
                            .roomDetailBody__bottomImg
                .wrapper
                    .roomDetailBody__content
                        .roomDetailBody__leftSide
                            .roomDetailBody__top
                                .roomDetailBody__roomFeatures
                                    h2 Сведения о номере
                                    +roomFeature('comfort', 'Комфорт', 'Шумопоглощающие стены')
                                    +roomFeature('udobstvo', 'Удобство', 'Окно в каждой из спален')
                                    +roomFeature('uyut', 'Уют', 'Номер оснащён камином')
                                .roomDetailBody__pieChart
                                    h2 Впечатления от номера
                                    include components/pieChart/pieChart.pug
                            .roomDetailBody__bottom
                                .roomDetailBody__reviews
                                    .roomDetailBody__reviewsHeadline
                                        h2 Отзывы посетителей номера
                                        p 2 отзыва
                                    +review('2', 'Мурад Сарафанов', '5 дней назад', '11', 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.')
                                    +review('1', 'Патрисия Стёклышкова', 'Неделю назад', '2', 'Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент')
                                .roomDetailBody__lists
                                    .roomDetailBody__bullet
                                        h2 Правила
                                        include components/bulletList/bulletList.pug
                                    .roomDetailBody__cancel
                                        h2 Отмена
                                        p.roomDetailBody__cancelText Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.
                        .roomDetailBody__rightSide
                            include components/cardRoomDetail/cardRoomDetail.pug
            include components/footerBig/footerBigRus.pug
            
            
//- include ./components/scriptInjection/scriptInjection.pug
script
    include ./components/pieChart/pie.js
script
    include ./components/likeButton/likeButton.js
script
    include ./components/twoInputRange/twoInputRange.js
script
    include ./components/dropdownGuest/guest.js
                            
                            
