$bgColor: #f4f4f6;
$dark100: #1F2041;
$dark50: rgba(31, 32, 65, 0.5);
$white: #fff;
$purple: #BC9CFF;

body,
ul,
a{
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat';
  font-size: 0.875rem;
  color: $dark50;
  list-style: none;
  text-decoration: none;
  outline: none;
}
p{
  margin: 0;
}
h1{
  font-size: 24px;
  line-height: 30px;
}
h2{
  font-size: 19px;
  line-height: 24px;
  font-family: 'MontserratBold';
  color: #1F2041;
}
h3{
  font-size: 12px;
  line-height: 15px;
  font-family: 'MontserratBold';
  font-weight: bold;
  text-transform: uppercase;
  color: $dark100;
  opacity: 0.75;
}
main{
  margin: 0 auto;
  width:100%;
  display: flex;
  background: $white;
  flex-wrap: wrap;
}

.flex{
  display: flex;
  margin: 20px 0 0 0;
  form{
    margin: 10px;
  }
}

@import '../components/roomDetailBody/roomDetailBody.scss';
@import '../components/pieChart/pieChart.scss';
@import '../components/headerButtons/headerButtons.scss';
@import '../components/footerBig/footerBig.scss';
@import '../components/roomFeature/roomFeature.scss';
@import '../components/likeButton/likeButton.scss';
@import '../components/bulletList/bulletList.scss';
@import '../components/review/review.scss';
@import '../components/cardSearchRoom/card.scss';
@import '../components/cardRoomDetail/cardRoomDetail.scss';
@import 'fontFace';
@import '../components/dataDropdown/datepicker.min.scss';
@import '../components/dropdownGuest/numbercategoryselectorGuest.scss';
@import '../components/rateButton/rateButton.scss';
@import '../components/btnBorder/btnBorder.scss';
@import '../components/dataDropdown/dataDropdown.scss';
@import '../components/cardSliderRoom/cardSliderRoom.scss';
@import '../components/btnFill/btnFill.scss';
@import '../components/btnLong/btnLong.scss';
@import '../components/emailSubscribe/emailSubscribe.scss';
@import '../components/textField/textField.scss';
