.searchBody{
    display: flex;
    width: 100%;
}
.searchBody__leftSide{
width: 27.58%;
padding: 30px 0 0 0;
    h3{
        margin: 0 0 5px 0;
    }
    .filter{
        margin: 0 0 20px 0;
    }
    #dropdownGuest{
        width: 266px;
    }
    .rangeSlider{
        margin: 5px 0 0 0;
    }
    .leftSide__rangeExplain{
        font-size: 12px;
        line-height: 14px;
        color: rgba(31, 32, 65, 0.5);
        margin: 14px 0 30px 0;
    }
    .leftSide__richCheckBox{
        margin: 47px 0 0 0;
    }
    .leftSide__roomFeatures{
        margin: 62px 0 5px 0;
    }
    ul.exCheckList li:first-child{
        margin: 19px 0 10px 0;
    }
}

.searchBody__rightSide{
width: 72.42%;
padding: 14px 0 0 5px;
box-sizing: border-box;
    h1{
        font-family: 'MontserratBold', sans-serif;
        font-size: 24px;
        line-height: 30px;
        color: #1F2041;
        letter-spacing: -0.5px;
        margin: 16px 0 0 0;
    }
    .rightSide__searchResult{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .rightSide__pagination{
        display: flex;
        justify-content: center;
        margin: 44px 14px 70px 0;
    }
}